<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
	
	<h2> 프로젝트 추가 </h2>
	<br>

			<tr>
				<td th:text="${project.pj_id}"></td>			
				<td th:text="${project.pj_name}"></td>			
				<td th:text="${project.pj_type}"></td>			
				<td th:text="${project.reg_date}"></td>			
			</tr>

<div class="container-fluid">
    <form action="projectPost" method="post">
      <div class="form-group">
        <label for="subject">프로젝트 명</label>
		<span th:text="${project.pj_id}"></span>
      </div>
      
      <div class="form-group">
        <label for="pj_type">프로젝트 유형</label>
        <input type='radio' id="pj_type" name='pj_type' value='type1' /> 기타
		<span th:text="{project.pj_type}"></span>
      </div>
      
      <div class="form-group">
        <label for="pj_content">내용</label>
		<span th:text="{project.pj_content"></span>
      </div>
      
      <div class='form-group'>
      	<label for='reg_date'>등록일</label>
      	<span th:text="{project.reg_date}"></span>
      </div>
      
      <button type="submit" class="btn btn-primary">추가</button>
    </form>
</div>



</th:block>
</html>