<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">
	
	<h2> 프로젝트 관리 </h2>

<p align='right'>
	<button class="btn" onclick="location.href='/project/projectPost'">추가</button>
	<button class="btn" onclick="location.href='/projectDelete'">삭제</button>
</p>
<br>

<div class="container-fluid">
    <table class="table table-hover">
        <tr>
            <th>번호</th>
            <th>프로젝트명</th>
            <th>프로젝트 유형</th>
            <th>등록일</th>
        </tr>
		
		<th:block th:each="project:${projectList}">
			<tr>
				<td th:text="${project.pj_id}"></td>			
				<td th:text="${project.pj_name}"></td>			
				<td th:text="${project.pj_type}"></td>			
				<td th:text="${project.reg_date}"></td>			
			</tr>
		</th:block>
    </table>
</div>

</th:block>
</html>